html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.corpoUnico {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /*background-color: rgb(17, 17, 17);    */
  background-image: linear-gradient(to right, #2e2e2e 0%, black 100%);
  display: flex;
}

.cabecalho {
  min-width: 25vw;
  max-width: 25vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabecalho nav {
  height: 60vh;
}
.headerDivLogo {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLink {
  font-size: 2rem;
}

.headerLinkDiv {
  margin-top: 1rem;
}

.headerLinkDiv:hover {
  color: rgb(182, 182, 182);
}

.homeConteudo {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.divCentro {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  max-width: 75%;
  box-shadow: -10px -10px 10px -5px rgba(212, 212, 212, 0.762),
    5px 5px 10px black;
}
.divCentro:hover {
  padding-top: 60px;
  box-shadow: inset -15px -15px 10px -8px rgba(212, 212, 212, 0.575),
    inset 15px 15px 10px -5px black;
  cursor: pointer;
}

.divImagemPerfil {
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divImagemPerfil img {
  width: 100%;
}
.divCentro2 {
  width: 100%;
  max-width: 75%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 50px 20px;
  box-shadow: -10px -10px 10px -5px rgba(212, 212, 212, 0.762),
    5px 5px 10px black;
}
.divCentro2 h1 {
  font-size: max(2rem, 2.5vw);
  background-image: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);
  -webkit-background-clip: text;
  color: transparent;

  cursor: pointer;
}

.divCentro2:hover {
  padding-top: 60px;
  box-shadow: inset -15px -15px 10px -8px rgba(212, 212, 212, 0.575),
    inset 15px 15px 10px -5px black;
}

.divCentro2:hover .svgHome {
  padding-top: 5px;
  
}

.divImagemInfo {
  margin: 0 1.5rem;
  padding: 1.3rem 0;
}

.divImagemInfo h1 {
  display: flex;
  justify-content: center;
  font-size: min(2.5rem, 2vw);
  background-image: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}
.divImagemInfo p {
  font-size: min(1.6rem, 2vw);
}

/* SOBRE */

.sobreConteudo {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5rem;
}

.sobreConteudo::-webkit-scrollbar {
  background-color: #2e2e2e;
  width: 15px;
}
.sobreConteudo::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

.sSobreMim {
  padding-bottom: 1rem;
  display: flex;
  padding-left: 1rem;
}

.sExperiencias {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;

  padding-right: 4rem;
}
.sExperiencias div {
  display: flex;
}

.sColor {
  /*   background-image: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);     */
  background-image: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.sColor2 {
  background-image: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  margin: 1rem 0 1.5rem 0;
}

.sExperiencias h1 {
  font-size: 1.8rem;
  margin: 1rem 0 1.5rem 0;
}
.sExperiencias h2 {
  font-size: 1.5rem;
}
.sExperiencias p {
  font-size: 1.5rem;
  margin: 0.3rem;
}

/*  SVG  */

.svgHome {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.svgHome div {
  display: flex;
  align-items: center;
}
.svgHome h2 {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: min(2rem, 3.5vw);
  cursor: pointer;
  transition: border 0.75s;
}

.svgHome div {
}

.svgHomeYoutube h2:hover {
  color: #e70f0f;
  border-bottom: #e70f0f solid 1px;
  filter: drop-shadow(3px 3px 4px #e70f0f);
}
.svgHomeLinkedin h2:hover {
  color: #12b9c5;
  border-bottom: #12b9c5 solid 1px;
  filter: drop-shadow(3px 3px 4px #12b9c5);
}
.svgHomeGithub h2:hover {
  color: #c4c4c4ce;
  border-bottom: #c4c4c4ce solid 1px;
  filter: drop-shadow(3px 3px 4px #c4c4c4ce);
}

.bakada {
  fill: rgb(205, 0, 0);
  color: #202020;
  margin: 0;
  padding-inline-start: 0;
  height: 80%;
  transition: 0.5s;
}

.bakada:hover {
  fill: #202020;
}

.sTecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slogoDiv {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 250px;
  margin: 3rem 5rem 0;
  border-radius: 15px;
  box-shadow: 10px 10px 15px #626365f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogoDiv:hover {
  cursor: pointer;
}

.slogoDiv div {
  width: 70%;
}

@media (max-width: 1450px) {
  .corpoUnico {
    flex-direction: column;
  }
  body::-webkit-scrollbar {
    background-color: #2e2e2e;
    width: 15px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
  }
  .cabecalho {
    min-width: 100%;
    max-width: 100%;
    min-height: 15vh;
    height: 15vh;
    background-image: linear-gradient(to top, #202020 0%, black 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .cabecalho nav {
    max-height: auto;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .headerLink {
    margin: 0 0.5rem;
  }

  .headerDivLogo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobreConteudo {
    height: 100%;

    overflow-y: inherit;
  }

  .homeConteudo {
    min-height: 85vh;
    height: 100%;
  }
}

@media (max-width: 850px) {
  .cabecalho nav {
    width: 55%;
  }
  .headerDivLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerLink {
    font-size: min(1.4rem, 5vw);

    margin: 0 0.25rem;
  }

  .headerLinkDiv {
    margin-top: 0rem;
  }
  .sSobreMim {
    flex-direction: column;
  }
  .sExperiencias {
    width: 100%;
  }

  .sTecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .slogoDiv {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    margin: 3rem 1rem 0;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #626365f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divCentro {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 80%;
    max-width: 85%;
    height: 80%;
    max-width: 95%;
  }

  .divCentro h1 {
    font-size: min(3rem, 4vw);
  }

  .divCentro p {
    text-align: center;
    font-size: min(1.6rem, 3.2vw);
  }
  .divImagemPerfil {
    max-width: 35vw;
    max-height: 35vw;
  }

  .sExperiencias h1 {
    font-size: min(1.8rem, 5vw);
    margin: 1rem 0 0.5rem 0;
  }
  .sExperiencias h2 {
    font-size: min(1.5rem, 6vw);
  }
  .sExperiencias p {
    font-size: min(1.5rem, 4vw);
    margin: 0.3rem;
  }
}
@media (max-height: 600px) {
  .cabecalho {
    min-height: 28vh;
    height: 100%;
  }

  .homeConteudo {
    padding: 3rem 0;
  }
  .divCentro2 {
    height: 70vh;
  }
}

.espelho {
  -webkit-box-reflect: below 5px linear-gradient(transparent 70%, black);
}
