.projetosConteudo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.divTeste {
  width: 30vw;
  height: 16vw;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.divTeste::after {
  content: " ";
  width: 105%;
  height: 105%;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(#bebc89, #9f6969, #9594bb);
  z-index: -1;
  animation: fundo 3s linear infinite;
}
.divTeste:hover {
  cursor: pointer;
}

@keyframes fundo {
  0% {
    filter: hue-rotate(0deg) blur(10px);
  }
  100% {
    filter: hue-rotate(360deg) blur(10px);
  }
}

.imgProjetos {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
