.projetosConteudo {
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
  padding: 2rem 0;
}

.projetosConteudo::-webkit-scrollbar {
  background-color: #2e2e2e;
  width: 15px;
}
.projetosConteudo::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

.linkProjetos {
  width: 33vw;
  height: 18vw;
  margin: 2rem;
  border-radius: 10px;
}

.divTeste {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition: transform 0.4s;
}
.divTeste::after {
  content: " ";
  width: 101%;
  height: 101%;
  position: absolute;
  border-radius: 10px;
  /*  background: linear-gradient(#bebc89, #9f6969, #9594bb); */
  background: linear-gradient(45deg, #0000ff, #00ff00, #ffff00, #ff0000);
  z-index: -1;
  animation: fundo 15s linear infinite;
}
.divTeste:hover {
  cursor: pointer;
  transform: scale(1.06);
}

@keyframes fundo {
  0% {
    filter: hue-rotate(0deg) blur(3px);
  }

  100% {
    filter: hue-rotate(360deg) blur(3px);
  }
}

.imgProjetos {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .linkProjetos {
    width: 60vw;
    height: 37vw;
    margin-top: 2.5rem;
  }

  .divTeste {
    width: 60vw;
    height: 37vw;

    border-radius: 10px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: transform 0.4s;
  }
}
